/* You can add global styles to this file, and also import other style files */
.rainyday {
  background-image: url('/assets/bg-rainy.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.text-white {color: #fff;}
